@charset "utf-8";
*{max-height: 9999999px;}
html,body{font-size: 62.5% !important;}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {margin: 0;padding: 0;-webkit-tap-highlight-color:transparent;}
body {background:#f9f9f9;color: #666; font-family:"Microsoft YaHei"; width:100%;}
ol, ul,li{list-style: none outside none;}
:focus {outline: 0 none;}
a{color:#666666;text-decoration:none;}
a:hover{color:#666;text-decoration:none;}
a img {border: 0 none;}
fieldset, img {border: 0;vertical-align: middle;}
select, input, button, textarea {padding: 0;}
input {vertical-align: middle;  font-family: "Microsoft YaHei", "微软雅黑"}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;*overflow: visible;}
button[disabled],input[disabled] {cursor: default;}
textarea {resize: none;overflow: auto; font-family: "Microsoft YaHei", "微软雅黑"}
.clear{ clear:both;}


.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}

.m_regtilinde{ line-height:6rem; height:6rem; font-size:3rem; width:90%; margin:0 auto; color:#f60; padding:2rem 0 1rem; border-bottom:1px solid #d5d5d5; position:relative;}
.m_regtilinde a{ color: #f60; font-size: 2.4rem; float: right; margin-right: .6rem}


/*pagination*/
.pag_main{display:block; text-align:center; padding-bottom:3rem;}
.pagination{display:inline-block;padding-left:0;margin:2rem 0 0;border-radius:.4rem}
.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:.6rem 2rem;margin-left:-.1rem;line-height:1.42857143;color:#e62129;text-decoration:none;background-color:#fff;border:1px solid #ddd; font-size:3rem}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-top-left-radius:.4rem;border-bottom-left-radius:.4rem}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:.4rem;border-bottom-right-radius:.4rem}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:3;color:#e62129;background-color:#eee;border-color:#ddd}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:2;color:#fff;cursor:default;background-color:#e62129;border-color:#e62129}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd}
.pagination-lg>li>a,.pagination-lg>li>span{padding:1rem 1.6rem;font-size:3rem;line-height:1.3333333}
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-top-left-radius:.6rem;border-bottom-left-radius:.6rem}
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:.6rem;border-bottom-right-radius:.6rem}
.pagination-sm>li>a,.pagination-sm>li>span{padding:.5rem 1rem;font-size:3rem;line-height:1.5}
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-top-left-radius:.3rem;border-bottom-left-radius:.3rem}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:.3rem;border-bottom-right-radius:.3rem}

nav{ height: 6rem; padding:2rem; background: #fff; border-bottom: .1rem solid #ddd;}
nav span{ display: inline-block; line-height: 4rem; font-size:3rem; margin: 1rem 0; float: left; margin-right: 2rem;}
nav span img{ height: 4rem; transform: rotate(180deg)}
nav p{ line-height: 6rem; font-size:3rem;}
footer{ width: 100%; position: fixed; height: 8rem; left: 0; bottom: 0; border-top: .1rem solid #ddd; background: #fff; z-index: 1000; padding: 1rem 0}
footer li{ width: 25%; text-align: center; float: left;}
footer li i{ display: none;}
footer li.cur i,footer li b{ display: inline-block; width: 4rem; height: 4rem;}
footer li.cur b{ display: none}
footer li img{ width: 4rem; height: 4rem;}
footer li p{ line-height: 4rem; font-size: 3rem;}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background-color: #fff;
    display: none;
}
@media only screen and (min-width:800px){
    body{ width:760px; margin:0 auto; background:#fff;}
}


.page{padding-top:10px}
.p_bar {clear:both;padding:10px 0; text-align:center; font-size:14px; color: #0e0e0e; height: 30px; overflow: hidden;}
.p_info { border:1px solid #dddddd; padding:4px 10px;}
.p_bar a {text-decoration:none;padding:4px 10px; color: #0e0e0e;}
.p_bar a:hover {background:#dddddd;border:1px solid #dddddd; border-left: 0px;text-decoration:none;}
.p_num {background:#FFF;border:1px solid #dddddd; border-left: 0px;}
.p_redirect {background:#FFF;border:1px solid #dddddd; border-left: 0px; padding:4px 10px;}
.p_curpage {border:1px solid #337ab7; border-left: 0px;background:#337ab7;color:#fff; padding:4px 10px;}


.header{ height: 9rem;line-height: 9rem;font-size: 3rem;background: #fff;z-index: 30;overflow: hidden;border-bottom: .1rem solid #ddd;color: #666; width: 100%; left: 0; top:0;position:fixed;}
.header .iconfont{font-size: 3rem}
.header a{text-decoration:none; color: #666;}
.header .header_left{  padding:0 1rem; display: block; float: left;width: 10rem;}
.header h1{text-align: center;font-size: 3rem;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;font-weight: normal; color: #f60;}
.header .header_right{ display: block;  padding:0 1rem; float: right; width: 10rem; text-align: right}

.margin_header {    margin-top: 10rem}

.button1{ border:0; background:#00adfe; color:#fff; font-size:3rem; width:100%;line-height:7rem; height:7rem;-moz-border-radius:.6rem;-webkit-border-radius:.6rem;border-radius:.6rem; text-align:center;}
table td,table th{font-size: 16px;}